doctypehtml
html(lang="en")
    head 
        meta(name="author" content="Beshoy Samy Englizy")
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title PEPSI
        link(rel="stylesheet" href="style/style.css")
        link(rel="icon" href="imgs/logo.icon")
    body 
        //- Start Header
        header
            div.logo
                img(src="imgs/logo.png" alt="logo")
            div
                span Home
                span Products
                span What's New
                span Contact
        //- End Header
        //- Start Section
        section 
            div.text
                h2 That's What 
                    br 
                    | You Like
                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis dolorum aliquid, 
                    br
                    | quam, necessitatibus dignissimos consectetur possimus voluptas eaque accusantium consequuntur 
                    br
                    | aspernatur eligendi quaerat fugit! Aspernatur quasi nemo doloremque maxime repellat?
                div View All Products
            div
                img(src="imgs/1.png" alt="logo")
        //- ENd Section
        //- Start Footer
        Footer
            img(src="imgs/2.png")
        //- End Footer